@page
@model her_care.Models.Test
@{
    ViewData["Title"] = "Client";
}
@{
 //var users = context.Tests.Where(x => x.Name == q).OrderBy(x => x.Id);
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>Client</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
    <body>
       <h1>Client Name Here</h1>
    </body>
</html>