@page

@model Models.Test

@{
  //  ViewData["Title"] = "Search Results";
}
<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>AdministrationPortal</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>









    <!--
<body>
    <div>
        db search results here
    </div>

    <table>
        <tr>
        <th>Last Name</th>
        <th>First Name</th>
        </tr>
        <tr>
            <td>Williams</td>
            <td>Bill</td>
        </tr>

    </table>
    <div>
<a asp-page="Shared/Client">Click here for client page</a>
</div>

</body>
-->
</html>