@page
@using her_care.Models
@model List<her_care.Models.Test>

@{
 
}
<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>AdministrationPortal</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>






<div>
  
    <table width="60%" align="center">
    <tr align="center">
        <td>
            <h1>View Opportunity/Volunteers</h1>
        </td>
    </tr>
    <tr align="center">
        <td>

            <table border="1" width="100%">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>Name</strong></td>
                    <td><strong>Age</strong></td>
                    <td><strong>Number</strong></td>
                </tr>
                @foreach (var oppvol in Model)
                {
                    <tr>
                        <td>@oppvol.Id</td>
                        <td>@oppvol.PName</td>
                        <td>@oppvol.Age</td>
                        <td>@oppvol.num</td>
                    </tr>
                }

            </table>
        </td>
    </tr>
</table>
</div>


    <!--
<body>
    <div>
        db search results here
    </div>

    <table>
        <tr>
        <th>Last Name</th>
        <th>First Name</th>
        </tr>
        <tr>
            <td>Williams</td>
            <td>Bill</td>
        </tr>

    </table>
    <div>
<a asp-page="Shared/Client">Click here for client page</a>
</div>

</body>
-->
</html>