@page
@model her_care.Models.Test
@{
    ViewData["Title"] = "Client";
}
@{

}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>Volunteer</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
    
    
    <body>
       <header>Volunteer Name: Volunteer</header>
       <div>
           <table class="box" width="100%">
           <tr><td><a asp-page="/PhotoConsent" type="button" class="buttonHome">Photo Consent Form</></a> </br></td></tr>
           </table>
        </div>
   
   <div>

   </div>
    </body>
</html>