@page
@model MoneyModel
<h1 align="center">$25 GIFT CARD</h1>
<table align="center" width="20%" border="1">
    <tr >
        <td width="40%">
            FName
        </td>
        <td>
            LName
        </td>
    </tr>
    <tr>
        <td>
            Total:
        </td>
        <td>
            #ofRows
        </td>
    </tr>
</table>
<br>
<table align="center" width="20%">
        <tr>
            <td width="40%">
                <button onclick="window.print()">Print</button>
            </td>
            <td>
                <button onclick="window.location.href='../Report'">Return to Reports</Button>
            </td>
        </tr>
</table>
