@page

@model IEnumerable<her_care.Models.Test>

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>VolunteerSearchResults</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>




<div>
  
    <table width="60%" align="center">
    <tr align="center">
        <td>
            <h1>View Volunteers</h1>
            <h1>Volunteer Search Results</h1>
        </td>
    </tr>
    <tr align="center">
        <td>

           </br></br></br>
            <table border="1" width="100%">
                <tr>
                    <td><strong>First Name</strong></td>
                    <td><strong>Last Name</strong></td>
                    <td><strong>Hours Worked</strong></td>
                </tr>
                
                @foreach (var test in ViewBag.MyModel)
                { 
                    <tr>
                        <td><a asp-page="/Pages/Volunteer">@test.VolunteerFirstName</a></td>
                        <td><a asp-page="/Pages/Volunteer">@test.VolunteerLastName </a></td>
                        <td></td>
                    </tr>
                }
        </td>
    </tr>
</table>
</div>

</div>
<a asp-page="Shared/Volunteer">Click here for Volunteer page</a>
</div>
</html>