@page

@model her_care.Models.SearchModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>SearchResults</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>




<div>
  
    <table width="60%" align="center">
    <tr align="center">
        <td>
            <h1>Client and Volunteer Search</h1>
            
        </td>
    </tr>
    <tr align="center">
        <td>

            <table border="1" width="100%">
                
               
                    
                
                @foreach (var result in ViewBag.MyModel)
                { 
                   
                    <tr align="center">
                      
                        
                        <td>    
                          

                            <a href="@Url.Action("ClientProfile", new {id = result.Id})" >
                            @result.FName @result.LName
                            </a>

                          
            
                         </td>                      
                    </tr>
                
                }
                
        </td>
    </tr>
</table>

</div>


   

</html>