@page

@model her_care.Models.SearchModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>SearchResults</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>





    
            <h1>Client Search Results</h1> </br></br>
               
               <!-- <div class="flexfroggySearch">
                   <label style="font-weight: bold;">First Name</label>
                   <label style="font-weight: bold;">Last Name</label>
               </div> -->
               
                @foreach (var result in ViewBag.MyModel)
                { <div class="flexfroggySearch">
                     <a href="@Url.Action("ClientProfile", new {id = result.Id})" >
                     @result.FName 
                     @result.LName
                     </a>     
                           
            </div>

                }
                



   

</html>