/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(249, 226, 237);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}


/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.navbar-header {
    height: auto;
    position: relative;
    padding-right: 10px;
    text-align: center;
    background-color: rgb(83, 81, 81);


}

.navbar-collapse {
    background-color: rgb(83, 81, 81);
    text-align: center;

}
.navbar-inverse{
    background-color: rgb(83, 81, 81) !important;
    border-bottom-color: rgb(83, 81, 81);

}
.navbar-fixed-top{
    background-color: rgb(83, 81, 81);

}
.navbar{
    background-color: rgb(83, 81, 81);

}

.navbar-nav {
    margin: 7.5px -15px;
    text-align: center;

  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    text-align: center;
  }

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 }
 #header1 {
   padding-top: 20%;
 }


header{
    text-align: center;
    font-size: 38pt;
    padding-bottom: 60px;
}

h1 {
    color: #2b2b2b;
    text-align: center;
    width: 100%;
    font-size: xx-large;
    background: rgb(249, 226, 237);

}
h2 {
    color: #000000;
    text-align: center;
    width: 100%;
    font-size: x-small;
}
h3 {
    color: #2b2b2b;
    text-align: center;
    width: 100%;
    font-size: small;
    text-decoration: underline;
}
h2 {
    color: #000000;
    text-align: auto;
    width: 100%;
    font-size: small;
}

.form-group {
    margin-bottom: 10px;
    text-align: left;
    clear: right;
    float: left;

}
.form-control{
    border: 2px solid rgb(28, 8, 117);
    border-radius: 6px;
    width: 450px;
    text-align: left;
    
    margin-right: 25px;
    
}
.form-groupright {
    margin-bottom: 10px;
    clear: left;
}
.form-grouprightVol {
  display: inline-block;
  text-align: left;
  clear: right;
  margin: 0 auto;
  position: relative;
  left: 30%;
  
}
.form-grouprightMon {
    margin-bottom: 10px;
    display: flex;
  justify-content: center;
 padding-left: 20px;
 padding-right: 20px;
 left: 20%;
  /* margin-left: 20%;
   position: relative; */
}
.form-controlright{
    border: 2px solid rgb(28, 8, 117);
    border-radius: 6px;
    width: 350px;

}
.btn-switch {
    font-size: 12pt;
      position: relative;
      display: inline-block;		
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .btn-switch__radio {
      display: none;
  }
  .btn-switch__label {
      display: inline-block;	
      padding: .75em .5em .75em .75em;
      vertical-align: top;
      font-size: 1em;
      font-weight: 700;
      line-height: 1.5;
      color: #666;
    cursor: pointer;
      transition: color .2s ease-in-out;
  }
  .btn-switch__label + .btn-switch__label {
    padding-right: .75em;
      padding-left: 0;
  }
  .btn-switch__txt {
      position: relative;
      z-index: 2;
    display: inline-block;
     min-width: 1.5em;
      opacity: 1;
      pointer-events: none;
      transition: opacity .2s ease-in-out;
  }
  .btn-switch__radio_no:checked ~ .btn-switch__label_yes .btn-switch__txt,
  .btn-switch__radio_yes:checked ~ .btn-switch__label_no .btn-switch__txt {
      opacity: 0;
  }
  .btn-switch__label:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #f0f0f0;
      border-radius: 1.5em;
      box-shadow: inset 0 .0715em .3572em rgba(43,43,43,.05);
      transition: background .2s ease-in-out;
  }
  .btn-switch__radio_yes:checked ~ .btn-switch__label:before {
      background: #0d0081;
  }
  .btn-switch__label_no:after {
      content: "";
      position: absolute;
      z-index: 2;
      top: .5em;
      bottom: .5em;
      left: .5em;
      width: 2em;
      background: #fff;
      border-radius: 1em;	
      pointer-events: none;
      box-shadow: 0 .1429em .2143em rgba(43,43,43,.2), 0 .3572em .3572em rgba(43,43,43,.1);
      transition: left .2s ease-in-out, background .2s ease-in-out;
  }
  .btn-switch__radio_yes:checked ~ .btn-switch__label_no:after {
      left: calc(100% - 2.5em);
      background: #fff;
  }
  .btn-switch__radio_no:checked ~ .btn-switch__label_yes:before,
  .btn-switch__radio_yes:checked ~ .btn-switch__label_no:before {
      z-index: 1;
  }
  .btn-switch__radio_yes:checked ~ .btn-switch__label_yes {
      color: #fff;
  }

  [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  .flexfroggy{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  
  padding-left: 30px;
  padding-right: 30px;
  }
  .flexfroggy2{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    padding-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 68%;
  }
  .flexfroggy3{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    padding-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 45%;
  }

#wrapper
{
  border: 1px solid #888;
  display: inline-block;
  padding:20px;
  border: 2px solid rgb(28, 8, 117);
  border-radius: 6px;
  
}
.panel-body{
    background: rgb(249, 226, 237);
    border: 2px solid rgb(28, 8, 117);
    border-radius: 6px;
    width: 100%;



}
.panel-success {
    background: rgb(249, 226, 237);
    

}
.button {
    background-color: rgb(15, 52, 107); 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
}
.button:hover {
    background-color: rgb(100, 156, 240);
    color: white;
}
.buttonCenter{
    text-align: center;
    padding-top: 20px;
    
}

.buttonHome {
    background-color: rgb(15, 52, 107); 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 1.25s;
    border-radius: 30px 75px 50px;
    border-width: 10px;
    border-top-color:rgb(190, 190, 190);
    border-left-color: rgb(190, 190, 190);
    border-right-color:  rgb(134, 134, 134);
    border-bottom-color: rgb(134, 134, 134);
    color: white;
    text-decoration: none;
    font-size: 26px;
    width: 210px;
    height: 210px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-shadow: -1px 0 rgb(0, 101, 184), 0 1.5px rgb(0, 101, 184), 1.5px 0 rg(0, 101, 184), 0 -1px rgb(0, 101, 184);
    
}
.buttonHome:hover {
    background-color: rgb(100, 156, 240);
    color: white;
}
.MAButton{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40%;

  background-color: rgb(15, 52, 107); 
    -webkit-transition-duration: 0.4s; 
    transition-duration: 1.25s;
    border-radius: 30px 75px 50px;
    border-width: 10px;
    border-top-color:rgb(190, 190, 190);
    border-left-color: rgb(190, 190, 190);
    border-right-color:  rgb(134, 134, 134);
    border-bottom-color: rgb(134, 134, 134);
    color: white;
    text-decoration: none;
    font-size: 26px;
    width: 210px;
    height: 210px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    text-shadow: -1px 0 rgb(0, 101, 184), 0 1.5px rgb(0, 101, 184), 1.5px 0 rg(0, 101, 184), 0 -1px rgb(0, 101, 184);
}
.CPGrid{
  display: grid;
  align-items: center; 
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0% 10pxpx;
  

}
.borderTOP{
  background: rgb(249, 226, 237);
  border: 2px solid rgb(28, 8, 117);
  border-radius: 6px;
  width: 90%;
  text-align: center;
  text-decoration-style: wavy;
  text-decoration: rgb(28, 8, 117);
  text-decoration: transparent;
  text-decoration: underline;

 
}
.clientText{
  font-family: DejaVu Sans Mono, monospace;
  font-weight: bold;
}
.clientGrid{
  display: grid;
  grid-gap: 10px 20px;
  grid-template-columns: 1fr 1fr;
 
}
.triangle-right {
  width: 0;
  height: 0;
  
  border-top: 4px solid transparent;
  border-left: 8px solid rgb(28, 8, 117);
  border-bottom: 4px solid transparent;
}
.homeGrid{
    display: grid;
    grid-gap: 30% 0%;
    margin: 0%;
    padding-top: 10%;
    grid-template-columns: auto auto;
}



.checkboxLeft{

    text-align: left;
    display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  padding-right: 25px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkboxLeft input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
   
  }
  .checkboxLeft:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .checkboxLeft input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkboxLeft input:checked ~ .checkmark:after {
    display: block;
  }
  .checkboxLeft .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* 
searchbox
*/

.tableCenter{

}


.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 450px;
  border: 3px solid rgb(204, 0, 61);
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  color: rgb(216, 30, 101);
}

.searchTerm:focus{
  color: rgb(204, 58, 0);
}

.searchButton {
  position: absolute;  
  right: -100px;
  width: 170px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: rgb(204, 0, 51);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Mahmood */
.searchButtonBlue {
    position: absolute;  
    right: -100px;
    width: 170px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: rgb(14, 0, 204);
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
  }

  /* Mahmood */
  .searchTermBlue {
    float: left;
    width: 450px;
    border: 3px solid rgb(33, 30, 216);
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    color: rgb(33, 30, 216);
  }




/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 20px
}

.div-buttons{
    padding-top: 20%
}
.box {
    width: 300px;
    height:300px;
    
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:30%;
    left: 50%;
    
}


/* Mahmood */
.boxMiddle {
  width: 300px;
  height:300px;
  
  position:fixed;
  margin-left:-150px; /* half of width */
  margin-top:-50px;  /* half of height */
  top:30%;
  left: 50%;
  
}

.calendar{
    width: 300px;
    height:300px;
    text-align: right;

   
}

iframe{
    width: 500px;
    height:400px;
    position: absolute;
    top: 400px;
    
    text-align: right;
}

.div#01 {
    position: bottom;
}

.h6{
    font-style: normal;
    font-size: 12pt;
    margin: 1em auto;
}