@page
@{
    //ViewData["Title"] = "Admin Login";
}
@model her_care.Models.AdminLoginModel
    @using(Html.BeginForm("AdminLogin", "AdminLogin", "", FormMethod.Post, false, ""))
{
<table align="center" width="100%" height="100%">
    <tr >
        <td colspan="3" height="30%">
            &nbsp;<br><br><br><br><br>
        </td>
    </tr>
    <tr>
        <td width="30%">
            &nbsp;
        </td>
        <td>
            <br>
            <table frame="box" align="center" width="100%" height="100%">
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        Username:
                    </td>
                    <td align="center">
                        @Html.TextBox("Username", "", new { placeholder = "", required="required", autocomplete="off" })
                        <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                     <td align="right">
                        Password:
                    </td>
                    <td align="center">
                        @Html.Password("Password", "", new { placeholder = "", required="required", autocomplete="off" })
                        <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Login">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
        <td width="30%">
            &nbsp;
        </td>
    </tr>
    <tr >
        <td colspan="3" height="30%">
            &nbsp;
        </td>
    </tr>
</table>
}
