@page

@model her_care.Models.SearchModel

@{
   
}
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>AdministrationPortal</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
<!--
<div>Admin portal where it will have the calendar and the search function
    lon
</div>
-->
 <div class="ADGrid" !important> 
              <button onclick="location.href = '/Report';" type="button" class="buttonAdmin" :hover>Client Aid Report Search</button> 
              <button onclick="location.href = '/VReport';" type="button" class="buttonAdmin" :hover>Volunteer Hour Report search</button> 
            
        </div>
<body>
<header id="header1">Administration Portal</header>
@using (Html.BeginForm("SearchResults", "AdministrationPortal", FormMethod.Post, 
                                      new { }))
{
    @Html.ValidationSummary(true)

<!-- <form id="frmsearch" action="~/SearchResults" method="get"> -->
<div class="wrap">
   <div class="search">


@Html.TextBox("SearchValue", null, new { @class = "searchTerm", placeholder = "Enter Client Name" })
      
      <input style="left: 100%;" type="submit" class="searchButton" value="Search" />
       
   </div>

</div>
<br />
<br />
<br />

<!-- </form> -->
}



















<!--
<div>
    <iframe src="https://calendar.google.com/calendar/embed?src=mlnmv22l6k6gnga0c6tqfmq2ps%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>


<form id="frmsearch" action="~/Shared/Client" method="get">
     <input id="q" name="q" value="@User" style="width:275px;"/>
     <input id="submit" name="submit" type="submit" style="font-weight:bold;" value="Search" />
</form>
-->

</body>