@page
@model IndexModel
@{
    /*ViewData["Title"] = "Home page";*/
}
 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
 <!--   
<div>This is the home page. This will most likely be the landing page for selecting admin, check in, volunteer hours.</div>
-->
<div class="homeGrid" style="padding-top: 45px;">
            <a asp-page="/Intake"><button type="button" class="buttonHome" :hover>First Time Client Visit</button></a>
            <a asp-page="/VolunteerVerification"><button type="button" class="buttonHome" :hover>Volunteer Hours</button></a> 
     <!--       <a asp-page="/Cohort" ><button type="button" class="buttonHome" :hover>HerTotal Wellness</button></a> -->
            <a asp-page="/SignIn" ><button type="button" class="buttonHome" :hover>Sign In</button></a> 
            <a asp-page="/AdministrationPortal" ><button type="button" class="buttonHome" :hover>Admin Portal</button></a>
            
          <a asp-page="/MonetaryAssistance" ><button type="button" class="buttonHome" :hover>Monetary Assistance</button></a> 
         <!--     <a asp-page="/EmergencyContact" ><button type="button" class="buttonHome" :hover>Emergency Contact </button></a> 
            <a asp-page="/PhotoConsent" ><button type="button" class="buttonHome": hover>Photo Consent</button></a> 
            <a asp-page="/Shared/Client" ><button type="button" class="buttonHome": hover>Client Search Result</button></a> 
            <a asp-page="/Shared/Client" ><button type="button" class="buttonHome": hover>Place Holder Button</button></a>

 
        <tr><td>    <a asp-page="/Shared/Volunteer"><button type="button" class="buttonHome">Volunteer Search Result</button></a> </br></td></tr>

       -->
</div>
</body>
</html>
