@page
@model IndexModel
@{
    /*ViewData["Title"] = "Home page";*/
}
 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
 <!--   
<div>This is the home page. This will most likely be the landing page for selecting admin, check in, volunteer hours.</div>
-->
<div class="homeGrid">
            <button onclick="location.href = '/SignIn';" type="button" class="buttonHome" :hover>Sign In</button>

           <button onclick="location.href = '/VolunteerVerification';" type="button" class="buttonHome" :hover>Volunteer Hours</button>
     <!--       <a asp-page="/Cohort" ><button type="button" class="buttonHome" :hover>HerTotal Wellness</button>-->          
     
            <button onclick="location.href = '/Intake';" type="button" class="buttonHome" :hover>First Time Client Visit</button>
       <!--     <button onclick="location.href = '/AdministrationPortal';" type="button" class="buttonHome" :hover>Admin Portal</button> -->
          <!--    
          <a asp-page="/MonetaryAssistance" ><button type="button" class="buttonHome" :hover>Monetary Assistance</button>
            <a asp-page="/EmergencyContact" ><button type="button" class="buttonHome" :hover>Emergency Contact </button>
            <a asp-page="/Shared/Client" ><button type="button" class="buttonHome": hover>Client Search Result</button>
            <a asp-page="/Shared/Client" ><button type="button" class="buttonHome": hover>Place Holder Button</button></a>

 
        <tr><td>    <a asp-page="/Shared/Volunteer"><button type="button" class="buttonHome">Volunteer Search Result</button></br></td></tr>

       -->
</div>
</body>
</html>
