@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
 <!--   
<div>This is the home page. This will most likely be the landing page for selecting admin, check in, volunteer hours.</div>
-->
<div class="col-md-4 text-center buttons" >
  <table class="box"  width="100%">
        <tr><td>    <a asp-page="/Intake" type="button" class="buttonHome" :hover>New Client</a></br></td></tr>
        <tr><td>    <a asp-page="/VolunteerVerification" type="button" class="buttonHome" :hover>Volunteer Hours</a> </br></td></tr>
        <tr><td>    <a asp-page="/Cohort" type="button" class="buttonHome" :hover>HerTotalWellness</a></br></td></tr>
        <tr><td>    <a asp-page="/AdministrationPortal" type="button" class="buttonHome">Administration Portal</a></br></td></tr>
        <tr><td>    <a asp-page="/MonetaryAssistance" type="button" class="buttonHome">Monetary Assistance</a></br></td></tr>
        <tr><td>    <a asp-page="/EmergencyContact" type="button" class="buttonHome">Emergency Contact</a></br></td></tr>

</div>
</body>
</html>
