@page

@{
    ViewData["Title"] = "Home page";
}
@model her_care.Models.Demographics

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>Intake</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
    <body>
        <!-- <nav class="navbar">
             <a asp-page="/Intake">Click here for check-in page</a> ||
              <a asp-page="/VolunteerHours">Click here for Volunteer Page</a> ||
                <a asp-page="/Cohort">Click here for the cohort page</a> || 
                  <a asp-page="/AdministrationPortal">Click here for Administration Page</a>
        </nav> -->
        <h2>THE PRIVACY ACT OF 1974.5 U.S.C S.S. 552a ESTABLISHES A CODE OF FAIR INFORMATION PRACTICES THAT GOVERNS
            THE COLLECTION, MAINTENANCE, USE, AND DISSEMINATION OF INFORMATION ABOUT INDIVIDUALS THAT IS 
            MAINTAINED IN SYSTEMS OF RECORDS BY FEDERAL AGENCIES.
        </h2>
    <div class="panel panel-success">
        <div class"panel-heading text-center"> <h1>Intake Form</h1></div>
        <div class="panel-body">
            <h3>DEMOGRAPHICS</h3>
            <form class="p-a-1" asp-action="Intake" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="FirstName">First Name:</label>
                    <input class="form-control" asp-for="FirstName"/>                    
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Last Name:</label>
                    <input class="form-control" asp-for="LastName"/>
                </div>
                <div class="form-group">
                    <label asp-for="TodaysDate">Today's Date:</label>
                    <input type="date" class="form-control" asp-for="TodaysDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth">DOB:</label>
                    <input type="date" class="form-control" asp-for="DateOfBirth"/>                    
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Phone:</label>
                    <input class="form-control" asp-for="Phone">
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress">Email:</label>
                    <input class="form-control" asp-for="EmailAddress"/>
                </div>
                <div class="form-group">
                    <label asp-for="AddressOne">Address:</label>
                    <input class="form-control" asp-for="AddressOne"/>
                </div>
                <div class="form-group">
                    <label asp-for="City">City:</label>
                    <input class="form-control" asp-for="City"/>
                </div>
                <div class="form-group">
                    <label asp-for="State">State:</label>
                    <input class="form-control" asp-for="State"/>
                </div>
                <div class="form-group">
                    <label asp-for="Zip">ZipCode:</label>
                    <input class="form-control" asp-for="Zip"/>
                </div>
                <div class="form-group">
                    <label asp-for="EmergencyContactFirst">Emergency Contact First Name:</label>
                    <input class="form-control" asp-for="EmergencyContactFirst"/>
                </div>
                <div class="form-group">
                    <label asp-for="EmergencyContactLast">Emergency Contact Last Name:</label>
                    <input class="form-control" asp-for="EmergencyContactLast"/>
                </div>
                <div class="form-group">
                    <label asp-for="BranchOfService">Branch Of Service:</label>
                    <input class="form-control" asp-for="BranchOfService"/>
                </div>
                <div class="form-group">
                    <label asp-for="EntryDate">Entry Date:</label>
                    <input type="date" class="form-control" asp-for="EntryDate"/>
                </div>
                <div class="form-group">
                    <label asp-for="DischargeDate">Discharge Date:</label>
                    <input type="date" class="form-control" asp-for="DischargeDate"/>
                </div>
                <div id="wrapper">
                    <label asp-for="CombatVet">Are You A Combat Vet?</label>
                <p class="btn-switch">					
                <input type="radio" id="yes" name="switch" class="btn-switch__radio btn-switch__radio_yes" />
                <input type="radio" checked id="no" name="switch" class="btn-switch__radio btn-switch__radio_no" />		
                <label for="yes" class="btn-switch__label btn-switch__label_yes"><span class="btn-switch__txt">Yes</span></label>								 
                <label for="no" class="btn-switch__label btn-switch__label_no"><span class="btn-switch__txt">No</span></label>							
                </p>        
                </div>
                <div class="form-group">
                    <label asp-for="DisabilityRating">Disibility Rating:</label>
                    <input class="form-control" asp-for="DisabilityRating"/>
                </div>
                <label class="h4" asp-for="ActiveDuty">Were you or are you on Active Duty, in the Reserves or the National Guard?</label>
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Active Duty
                    <input type="checkbox" name="ActiveDuty" value="ActiveDuty"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Reserves
                    <input type="checkbox" name="ActiveDuty" value="Reserves"/>
                    <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                    <label class="checkboxLeft">National Guard
                    <input type="checkbox" name="ActiveDuty" value="National Guard"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <h3>CURRENT EMPLOYMENT STATUS (check all that apply)</h3>
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Employed
                    <input type="checkbox" name="Employed" value="Employed"/>
                     <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Student
                    <input type="checkboxLeft" name="Student" value="Student"/>
                     <span class="checkmark"></span>
                     </label>
                </div> 
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Self Employed
                    <input type="checkboxLeft" name="SelfEmployed" value="Self-Employed"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Contractor
                    <input type="checkboxLeft" name="Contractor" value="Contractor"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Word Study
                    <input type="checkboxLeft" name="WorkStudy" value="Work Study"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Intern
                    <input type="checkboxLeft" name="Intern" value="Intern"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Unemployed
                    <input type="checkbox" name="Unemployed" value="Unemployed"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Other
                    <input type="checkboxLeft" name="Other" value="Other"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <h3>LIVING SITUATION</h3>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">On Street
                    <input type="checkbox" name="OnStreet" value="On Street"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Sofa Surfing
                    <input type="checkbox" name="SofaSurfing" value="Sofa Surfing"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Shelter
                    <input type="checkbox" name="Shelter" value="Shelter"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Transitional Housing
                    <input type="checkbox" name="TransitionalHousing" value="Transitional Housing"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Group Home
                    <input type="checkbox" name="GroupHome" value="Group Home"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Rental
                    <input type="checkbox" name="Rental" value="Rental"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Own Home
                    <input type="checkbox" name="OwnHome" value="Own Home"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Other
                    <input type="checkbox" name="Other" value="Other"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <h3>LIVING ARRANGEMENTS</h3>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Friends/Relatives
                    <input type="checkbox" name="FreindsOrRelatives" value="Friends/Relatives"/>
                     <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Alone
                    <input type="checkbox" name="Alone" value="Alone"/>
                    <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Temporary
                    <input type="checkbox" name="Temporary" value="Temporary"/>
                    <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Permanent
                    <input type="checkbox" name="Permanent" value="Permanent"/>
                    <span class="checkmark"></span>
                     </label>
                </div>
                 <h3>SERVICE NEEDS (Check all that apply)</h3>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Business Resources
                    <input type="checkbox" name="BusinessResources" value="Business Resources"/>
                    <span class="checkmark"></span>
                     </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Day Care
                    <input type="checkbox" name="DayCare" value="Day Care"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft">Housing
                    <input type="checkbox" name="Housing" value="Housing"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Clothing
                    <input type="checkbox" name="Clothing" value="Clothing"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Disibility Claim
                    <input type="checkbox" name="DisabilityClaim" value="Disability Claim"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Legal
                    <input type="checkbox" name="Legal" value="Legal"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Counseling
                    <input type="checkbox" name="Counseling" value="Counseling"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Education/Vocationaal Rehab
                    <input type="checkbox" name="EducationalOrVocationalRehab" value="Education/Vocational Rehab"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Utilities
                    <input type="checkbox" name="Utilities" value="Utilities"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Food
                    <input type="checkbox" name="Food" value="Food"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Employment
                    <input type="checkbox" name="Employment" value="Employment"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Transportation
                    <input type="checkbox" name="Transportation" value="Transportation"/>
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">
                     <label class="checkboxLeft" >Other
                    <input type="checkbox" name="Other" value="Other"/>
                    <span class="checkmark"></span>
                    </label>
                </div>    
            <div class="buttonCenter">
            <a href="https://localhost:5001/" class="button" :hover type="submit" value="S U B M I T">S U B M I T</a>
            </div>
            </form>
        </div>
    </div>


    </body>
</html>
