@page 
@{
    ViewData["Title"] = "MonetaryAssistance";
}

@model her_care.Models.MonetaryAssistance

<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width-device-width"/>
        <title>
            MonetaryAssistence
        </title>
        <link rel="site" href="~/css/site.css" />
    </head>
    <body>
        <div class="panel panel-success">
        <div class"panel-heading text-center"> <h1>MONETARY ASSISTANCE FORM</h1></div>
        <div style="float: right; padding-top: 10px; padding-right: 10px;">
             <input type="image" src="~/images/printer.png" onclick="window.print()" width="20" height="20">
        </div>
        <div class="panel-body">
            <h3>DEMOGRAPHICS</h3>
            <form class="p-a-1" asp-action="MonetaryAssistance" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-groupright">
                  <label asp-for="FirstNameMA">First Name:</label>
                    <input class="form-control" asp-for="FirstNameMA"/>                    
                </div>
                <div class="form-groupright">
                  <label asp-for="LastNameMA">Last Name:</label>
                    <input class="form-control" asp-for="LastNameMA"/>
                </div>
                <div class="form-groupright">
                  <label asp-for="MonetaryDate">Today's Date:</label>
                    <input type="date" class="form-control" asp-for="MonetaryDate"/>
                </div>
                <div class="form-groupright">
                  <label asp-for="streetNumberMA">Street number: </label>
                    <input class="form-control" asp-for="streetNumberMA"/>                    
                </div>
                <div class="form-groupright">
                  <label asp-for="StreetNameMA">Street Name: </label>
                    <input class="form-control" asp-for="StreetNameMA"/>                    
                </div>
                <div class="form-groupright">
                  <label asp-for="ZipcodeMA">Zip Code: </label>
                    <input class="form-control" asp-for="ZipcodeMA"/>                    
                </div>
                 <div class="form-groupright">
                  <label asp-for="StateMA">State: </label>
                    <select name="state" class="form-control">
                        <option selected="selected">Select State</option>
                        <option value="2">Alabama</option>
                        <option value="3">Alaska</option>
                        <option value="4">Arizona</option>
                        <option value="5">Arkansas</option>
                        <option value="6">California</option>
                        <option value="7">Colorado</option>
                        <option value="8">Connecticut</option>
                        <option value="9">Delaware</option>
                        <option value="10">District of Columbia</option>
                        <option value="1">Florida</option>
                        <option value="11">Georgia</option>
                        <option value="12">Hawaii</option>
                        <option value="13">Idaho</option>
                        <option value="14">Illinois</option>
                        <option value="15">Indiana</option>
                        <option value="16">Iowa</option>
                        <option value="17">Kansas</option>
                        <option value="18">Kentucky</option>
                        <option value="19">Louisiana</option>
                        <option value="20">Maine</option>
                        <option value="21">Maryland</option>
                        <option value="22">Massachusetts</option>
                        <option value="23">Michigan</option>
                        <option value="24">Minnesota</option>
                        <option value="25">Mississippi</option>
                        <option value="26">Missouri</option>
                        <option value="27">Montana</option>
                        <option value="29">Nebraska</option>
                        <option value="30">Nevada</option>
                        <option value="31">New Hampshire</option>
                        <option value="32">New Jersey</option>
                        <option value="33">New Mexico</option>
                        <option value="34">New York</option>
                        <option value="35">North Carolina</option>
                        <option value="36">North Dakota</option>
                        <option value="37">Ohio</option>
                        <option value="38">Oklahoma</option>
                        <option value="39">Oregon</option>
                        <option value="40">Pennsylvania</option>
                        <option value="41">Rhode Island</option>
                        <option value="42">South Carolina</option>
                        <option value="43">South Dakota</option>
                        <option value="44">Tennessee</option>
                        <option value="45">Texas</option>
                        <option value="46">Utah</option>
                        <option value="47">Vermont</option>
                        <option value="48">Virginia</option>
                        <option value="49">Washington</option>
                        <option value="50">West Virginia</option>
                        <option value="51">Wisconsin</option>
                        <option value="52">Wyoming</option>
                    </select>                  
                </div>
                <div class="form-groupright">
                 <label asp-for="EmailMA">Email:</label>
                <input class="form-control"
                   
              @Html.TextBoxFor(m => m.EmailMA, new { }) <br />
                @Html.ValidationMessageFor(m => m.EmailMA)
                </input>
                </div>
                <div class="form-groupright">
                  <label asp-for="PhoneMA">Phone: </label>
                    <input class="from-control" asp-for="PhoneMA"/>
                </div>
                <br />
                <br />
                <div class="form-groupright">
                    <label asp-for="MoneyMA">Amount Provided: $</label>
                    <input class="form-control" asp-for="MoneyMA"/>   
                </div>
                <br />
                <div class="form-groupright">
                <h5>Services Provided</h5>
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Lights and Water Bill 
                    <input type="checkbox" name="departments" value="1">
                    <span class="checkmark"></span>
                    </label>
                </div>    
                 <div class="checkboxLeft">      
                    <label class="checkboxLeft">Rental Deposit
                    <input type="checkbox" name="departments" value="2">
                    <span class="checkmark"></span>
                    </label>
                 </div>
                 <div class="checkboxLeft">
                    <label class="checkboxLeft">OverDue Rent
                    <input type="checkbox" name="departments" value="3">
                    <span class="checkmark"></span>
                    </label>
                 </div>
                 <div class="checkboxLeft">
                    <label class="checkboxLeft">ID Card
                    <input type="checkbox" name="departments" value="4">
                    <span class="checkmark"></span>
                    </label>
                 </div>      
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Temporary Housing
                    <input type="checkbox" name="departments" value="5">
                    <span class="checkmark"></span>
                    </label>
                </div>   
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Gas
                    <input type="checkbox" name="departments" value="6">
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">

                    <label class="checkboxLeft">Food Gift Card
                    <input type="checkbox" name="departments" value="7">
                    <span class="checkmark"></span>
                    </label>
                </div>    
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Bus Pass
                    <input type="checkbox" name="departments" value="8">
                    <span class="checkmark"></span>
                    </label>
                    </div>
                </div>
                    <br />
                 <div class="form-groupright">
                  <label asp-for="ClientSigMA">Volunteer Signature: </label>
                    <input class="form-control" asp-for="ClientSigMA"/>                    
                </div>
                <br />
                 <div class="form-groupright">
                  <label asp-for="StaffSigMA">Staff Signature: </label>
                    <input class="form-control" asp-for="StaffSigMA"/>                    
                </div>
                <br / >
                <br />
            <div class="buttonCenter">
            <a href="https://localhost:5001/" class="button" :hover type="submit" value="S U B M I T">S U B M I T</a>
            </div>
            </form>    
        </div>      
    </body>
</html>