@page 
@{
    ViewData["Title"] = "MonetaryAssistance";
}

@model her_care.Models.MonetaryAssistance

<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width-device-width"/>
        <title>
            MonetaryAssistence
        </title>
        <link rel="site" href="~/css/site.css" />
    </head>
    <body>
        <div class="panel panel-success">
        <div class"panel-heading text-center"> <h1>MONETARY ASSISTANCE FORM</h1></div>
        <div class="panel-body">
            <h3>DEMOGRAPHICS</h3>
            <form class="p-a-1" asp-action="MonetaryAssistance" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-groupright">
                  <label asp-for="FirstNameMA">First Name:</label>
                    <input class="form-control" asp-for="FirstNameMA"/>                    
                </div>
                <div class="form-groupright">
                  <label asp-for="LastNameMA">Last Name:</label>
                    <input class="form-control" asp-for="LastNameMA"/>
                </div>
                <div class="form-groupright">
                  <label asp-for="MonetaryDate">Today's Date:</label>
                    <input type="date" class="form-control" asp-for="MonetaryDate"/>
                </div>
                <div class="form-groupright">
                  <label asp-for="streetNumberMA">Street number: </label>
                    <input class="form-control" asp-for="streetNumberMA"/>                    
                </div>
                <div class="form-groupright">
                  <label asp-for="StreetNameMA">Street Name: </label>
                    <input class="form-control" asp-for="StreetNameMA"/>                    
                </div>
                <div class="form-groupright">
                  <label asp-for="ZipcodeMA">Zip Code: </label>
                    <input class="form-control" asp-for="ZipcodeMA"/>                    
                </div>
                 <div class="form-groupright">
                  <label asp-for="StateMA">State: </label>
                    <input class="form-control" asp-for="StateMA"/>                    
                </div>
                <div class="form-groupright">
                    <input class="form-control"
              @Html.TextBoxFor(m => m.EmailMA, new { @placeholder="E-mail"}) <br />
                @Html.ValidationMessageFor(m => m.EmailMA)
                </input>
                </div>
                <div class="form-groupright">
                  <label asp-for="PhoneMA">Phone: </label>
                    <input class="from-control" asp-for="PhoneMA"/>
                </div>
                <br />
                <br />
                <div class="form-groupright">
                    <label asp-for="MoneyMA">Amount Provided: $</label>
                    <input class="form-control" asp-for="MoneyMA"/>   
                </div>
                <br />
                <div class="form-groupright">
                <h5>Services Provided</h5>
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Lights and Water Bill 
                    <input type="checkbox" name="departments" value="1">
                    <span class="checkmark"></span>
                    </label>
                </div>    
                 <div class="checkboxLeft">      
                    <label class="checkboxLeft">Rental Deposit
                    <input type="checkbox" name="departments" value="2">
                    <span class="checkmark"></span>
                    </label>
                 </div>
                 <div class="checkboxLeft">
                    <label class="checkboxLeft">OverDue Rent
                    <input type="checkbox" name="departments" value="3">
                    <span class="checkmark"></span>
                    </label>
                 </div>
                 <div class="checkboxLeft">
                    <label class="checkboxLeft">ID Card
                    <input type="checkbox" name="departments" value="4">
                    <span class="checkmark"></span>
                    </label>
                 </div>      
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Temporary Housing
                    <input type="checkbox" name="departments" value="5">
                    <span class="checkmark"></span>
                    </label>
                </div>   
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Gas
                    <input type="checkbox" name="departments" value="6">
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">

                    <label class="checkboxLeft">Food Gift Card
                    <input type="checkbox" name="departments" value="7">
                    <span class="checkmark"></span>
                    </label>
                </div>    
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Bus Pass
                    <input type="checkbox" name="departments" value="8">
                    <span class="checkmark"></span>
                    </label>
                    </div>
                </div>
                    <br />
                 <div class="form-groupright">
                  <label asp-for="ClientSigMA">Volunteer Signature: </label>
                    <input class="form-control" asp-for="ClientSigMA"/>                    
                </div>
                <br />
                 <div class="form-groupright">
                  <label asp-for="StaffSigMA">Staff Signature: </label>
                    <input class="form-control" asp-for="StaffSigMA"/>                    
                </div>
                <br / >
                <br />
            <div class="buttonCenter">
            <a href="https://localhost:5001/" class="button" :hover type="submit" value="S U B M I T">S U B M I T</a>
            </div>
            </form>    
        </div>      
    </body>
</html>