@page 

@model her_care.Models.MonetaryModel

@{
    ViewData["Title"] = "MonetaryAssistance";
}



<!DOCTYPE html>
<html>
    <head>
        
        <meta name="viewport" content="width-device-width"/>
        <title>
            MonetaryAssistance
        </title>
        <link rel="site" href="~/css/site.css" />
    </head>
    <body>
        <div class="panel panel-success">
       <h1>MONETARY ASSISTANCE FORM</h1>
        <div style="float: right; padding-top: 10px; padding-right: 10px;">
             <label style="font-family: Georgia;" onclick="window.print()">Print</label>
             <input type="image" src="~/images/printer.png" onclick="window.print()" width="20" height="20">
        </div>
        <div class="panel-body">
            <h3>DEMOGRAPHICS</h3>
            @using (Html.BeginForm("SubmitMonetary","Monetary", FormMethod.Post, new {})) {
                <br />
               
                <div class="form-groupright">
                <br />
                 <div class="form-grouprightMon">
                    <label style="margin-right: 20px; " asp-for="Services">Services Provided:</label>
                   <select style="width: 30%;" name="Services" class="form-control">
                        <option selected="selected">Select Service</option>
                        <option value="2">Bus Pass</option>
                        <option value="3">Light and Water Bill</option>
                        <option value="4">Rental Deposit</option>
                        <option value="5">OverDue Rent</option>
                        <option value="6">ID CArd</option>
                        <option value="7">Gas Card</option>
                        <option value="8">Food Gift Card</option>
                    </select>
                </div>
                <br />
                
                <!-- <div class="checkboxLeft">
                    <label class="checkboxLeft">Lights and Water Bill 
                    <input type="checkbox" name="departments" value="1">
                    <span class="checkmark"></span>
                    </label>
                </div>    
                 <div class="checkboxLeft">      
                    <label class="checkboxLeft">Rental Deposit
                    <input type="checkbox" name="departments" value="2">
                    <span class="checkmark"></span>
                    </label>
                 </div>
                 <div class="checkboxLeft">
                    <label class="checkboxLeft">OverDue Rent
                    <input type="checkbox" name="departments" value="3">
                    <span class="checkmark"></span>
                    </label>
                 </div>
                 <div class="checkboxLeft">
                    <label class="checkboxLeft">ID Card
                    <input type="checkbox" name="departments" value="4">
                    <span class="checkmark"></span>
                    </label>
                 </div>      
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Temporary Housing
                    <input type="checkbox" name="departments" value="5">
                    <span class="checkmark"></span>
                    </label>
                </div>   
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Gas
                    <input type="checkbox" name="departments" value="6">
                    <span class="checkmark"></span>
                    </label>
                </div>
                <div class="checkboxLeft">

                    <label class="checkboxLeft">Food Gift Card
                    <input type="checkbox" name="departments" value="7">
                    <span class="checkmark"></span>
                    </label>
                </div>    
                <div class="checkboxLeft">
                    <label class="checkboxLeft">Bus Pass
                    <input type="checkbox" name="departments" value="8">
                    <span class="checkmark"></span>
                    </label>
                    </div>
                </div>-->
               
                
               
                 <div class="form-grouprightMon">
                  <label style="margin-right: 20px;" asp-for="StaffSigMA">Staff Signature: </label>
                    <input style="margin-left: 20px; width: 30%" class="form-control" asp-for="StaffSigMA"/>                    
                </div>
               
                
               
                 <br />
                <div class="form-grouprightMon">
                    <label style="margin-right: 20px;" asp-for="MoneyMA">Amount Provided:</label>
                    <input style="width: 10%" class="form-control" placeholder="$00.00"  asp-for="MoneyMA"/>   
                </div> 
                
                <br />
            <div class="buttonCenter">
            <input type="submit" class="button" :hover type="submit" value="S U B M I T"></input>
            </div>
                </div>
             
            }
        </div>
           
    </body>
</html>