@page
@model List<her_care.Models.ReportModel>
@{
    //ViewData["Title"] = "Invalid Credentials";
}
<br>
<br>
<table width="100%" height="100%" style="background-color: white;" border="1">
    <tr>
        <td height="100%">
            <br>
            <table align="center" width="80%" border="1">
                <tr>
                    <td align="center"><font style="font-size: 20px"><strong>First Name</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Last Name</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Recieved</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Amount</strong></font></td>
                </tr>
            </table>
            <br>
        </td>
    </tr>
</table>
