@page



@{
    ViewData["Title"] = "Search Results";
}
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>AdministrationPortal</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
<body>
    <div>
        db search results here
    </div>
</body>