@page
@section styles{
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}

@using(Html.BeginForm("Submit", "SignIn", "", FormMethod.Post, false, ""))
{
<script type="text/JavaScript">
      setTimeout("location.href = '/Index';",6500);
 </script>
<br>
<br>
<br>
<h1 align="center">Thank You!</h1>
<br>
<p align="center">We will be with you soon</p>
}