@page
@model her_care.Models.VolunteerVerification
@{
    ViewData["Title"] = "Volunteer Verification";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>VolunteerVerification</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
    <body>
        <!-- <nav class="navbar">
             <a asp-page="/Intake">Click here for check-in page</a> ||
              <a asp-page="/VolunteerHours">Click here for Volunteer Page</a> ||
                <a asp-page="/Cohort">Click here for the cohort page</a> || 
                  <a asp-page="/AdministrationPortal">Click here for Administration Page</a>
        </nav> -->

<div class="panel panel-success">
        <div class"panel-heading text-center"> 
        <div class="panel-body">
            <div style="float: right; padding-top: 10px; padding-right: 10px;">
			<label style="font-family: Georgia;" onclick="window.print()">Print</label>
             <input type="image" src="~/images/printer.png" onclick="window.print()" width="20" height="20">
             </div>
        <br />
        <br />
            <h3>Volunteer/Work Verification Form</h3>
            <br />
            <br />
        @using (Html.BeginForm("SubmitHours","VolunteerVerification", FormMethod.Post, new {})) {
            <div class="form-grouprightVol">
                <div asp-validation-summary="All"></div>
                <div class="form-groupright">
                    <label asp-for="FirstNameVV">First Name:</label>
                    <input class="form-control" asp-for="FirstNameVV"/>                    
                </div>
                <div class="form-groupright">
                    <label asp-for="LastNameVV">Last Name:</label>
                    <input class="form-control" asp-for="LastNameVV"/>
                </div>
                <div class="form-groupright">
                    <label asp-for="VolunteerAgency">Event Attended (Other Please specify):</label>
                    <input class="form-control" asp-for="VolunteerAgency"/>
                </div>
                <div class="form-groupright">
                    <label asp-for="HoursCompleted">Hours Completed:</label>
                    <input class="form-control" asp-for="HoursCompleted"/>
                </div>
                <div class="form-groupright">
                    <label asp-for="VolunteerDate">Date Of Volunteer Hours:</label>
                    <input type="date" class="form-control" asp-for="VolunteerDate"/>
                </div>
                <div class="form-groupright">
                    <label asp-for="DescriptionService">Description Of Service Provided:</label>
                    <input class="form-control" asp-for="DescriptionService"/>
                </div>

                <br />
                <br />
                <br />

                <div class="form-groupright">
                    <label asp-for="VolunteerSignature">Sign Your Full Name:</label>
                    <input class="form-control" asp-for="VolunteerSignature"/>          

                     
                </div>
           </div>
            <div class="buttonCenter">
            <input type="submit" class="button" :hover type="submit" value="S U B M I T"></input>          
             </div>
              
        
      }
       
    </body>
</html>