@page
@model her_care.Models.Volunteer
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
 <head>
     <meta charset = "utf-8">
     <title>Volunteers Manage</title>
     <link rel = "stylesheet" type = "text/css" href = "VM_CSS.css">
 </head>
 <body>
      <div>
          Volunteer First Name: @Model.VolunteerFirstName,
          Volunteer Last Name : @Model.VolunteerLastName, 
      </div>
 </body>
</html>