@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<html>
 <head>
  <meta charset = "utf-8">
  <title>Volunteers Management</title>
  <link rel = "stylesheet" type = "text/css" href = "VM_CSS.css">
 </head>
 
 <body><div><br>
        <form method="post" name="formVolunteerSearch" id="formVolunteerSearch">
            <label style="margin: 0px 25px 0px 00px;">Volunteer's Name:</label><input type="text" name="volunteerName" placeholder="John S" style="margin: 12px 90px;" required><br>
            <label>From: </label> <input type="date" min="1970-01-01" max="2020-12-31" placeholder="2015-10-21" />
            <label style="margin: 10px 4px 12px 40px;">To :</label> <input type="date" placeholder="2018-10-01"/><br><br>	
             <!-- <button class="btn btn-primary" value="">View Time Sheet</button><br><br> -->
            <br>
            <button type="submit" class="btn btn-primary" value="Submit">Search Volunteer</button>
        </form><br>
     
     <!-- <h2> Volinteers Time Sheet</h2> -->
<div class = "" id="volunteer_display">
            <h4>Match Volunteer(s) Found:</h4>

                <h3>Click on a volunteer name to view <strong>Time Sheet Details</strong> </h3>

        <table>
        <thead>
        </thead>
        <tbody class=strip>
        <tr><td><a asp-page="/VolunteerInfo">John Smith</a></td></tr>
        <tr><td>John Sandler</td></tr>
        <tr><td>John Sam</td></tr>
        <tr><td>John Sean</td></tr>
        <tr><td>John Sharon</td></tr>
    <tbody>
     </table>
      <br><br>

    </div>
    


 </body>
</html>