@page
@model her_care.Models.VolunteerVerification
@{
    ViewData["Title"] = "Volunteer Verification";
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <title>VolunteerVerification</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
    <body>
    <div class="panel panel-success">
        <div class="panel-body">
            <div style="float: right; padding-top: 10px; padding-right: 10px;">
			<label style="font-family: Georgia;" onclick="window.print()">Print</label>
             <input type="image" src="~/images/printer.png" onclick="window.print()" width="20" height="20">
             </div>
        <br />
        <br />
            <h1>Volunteer/Work Verification Form</h1>
            <br />
            <br />
        @using (Html.BeginForm("SubmitHours","VolunteerVerification", FormMethod.Post, new {})) {
            <div class="form-grouprightVol">
                <div asp-validation-summary="All"></div>
               <br />
                    <label asp-for="FirstNameVV">First Name:</label>
                    <input class="form-control" asp-for="FirstNameVV"/>                    
                <br />
                    <label asp-for="LastNameVV">Last Name:</label>
                    <input class="form-control" asp-for="LastNameVV"/>
                <br />
                    <label asp-for="VolunteerAgency">Event Attended (Other Please specify):</label>
                    <input class="form-control" asp-for="VolunteerAgency"/>
                <br />
                    <label asp-for="HoursCompleted">Hours Completed:</label>
                    <input style="width: 25%" placeholder="0 or 0.0"class="form-control" asp-for="HoursCompleted"/>
                <br />
                    <label asp-for="VolunteerDate">Date Of Volunteer Hours:</label>
                    <input type="date" class="form-control" asp-for="VolunteerDate"/>
               <br />
                    <label asp-for="DescriptionService">Description Of Service Provided:</label>
                    <input class="form-control" asp-for="DescriptionService"/>
                <br />
                <br />
                    <label asp-for="VolunteerSignature">Sign Your Full Name:</label>
                    <input class="form-control" asp-for="VolunteerSignature"/>          
                <br /> 
                <br />
            </div>
                <div class="buttonCenter">
                    <input type="submit" class="button" :hover type="submit" value="S U B M I T"></input>          
                </div>
            }
    </body>
</html>